.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 15%;
    width: 100%;
    max-width: 400px;
    color: white;
    background-color: rgb(48, 48, 48);
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;

}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #222;
    color: white;
    font-size: 1em;
    outline: none;
}

.forgotPassword {
    text-align: right;
    font-size: 0.9em;
    margin: 5px 0;
}
  
.forgotPassword a {
    color: #ffc107;
    text-decoration: none;
}

.loginButton {
    display: inline-block;
    background-color: #ffc107;
    color: black;
    font-size: 1.2em;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
  
.loginButton:hover {
    background-color: #e0a800;
}

.orLoginWith {
    margin: 20px 0 10px;
    text-align: center;
    color: #bbb;
    font-size: 0.9em;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.8em;
    margin-bottom: 20px;
}
  
.registerLink {
    text-align: center;
    color: #bbb;
    margin-top: 10px;
}
  
.registerLink a {
    color: #ffc107;
    text-decoration: none;
}