body {
    margin: 0px;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
  
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ombre en dégradé sur l'image */
.left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.3) 10%,
      rgba(0, 0, 0, 0.8) 90%
    );
    pointer-events: none;
}

.overlayImages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.smallLogo {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.smallBranding {
    width: 170px;
    height: 170px;
    padding-left: 40px;
    margin-top: -60px;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 15%;
    width: 100%;
    max-width: 400px;
    color: white;
    background-color: rgb(48, 48, 48);
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;

}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #222;
    color: white;
    font-size: 1em;
    outline: none;
}

.registerButton {
    background-color: #ffc107;
    color: black;
    font-size: 1.2em;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
  
.registerButton:hover {
    background-color: #e0a800;
}

.orLoginWith {
    margin: 20px 0 10px;
    text-align: center;
    color: #bbb;
    font-size: 0.9em;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.8em;
    margin-bottom: 20px;
}
  
.registerLink {
    text-align: center;
    color: #bbb;
    margin-top: 10px;
}
  
.registerLink a {
    color: #ffc107;
    text-decoration: none;
}

@media (max-width: 768px) {
    .left {
      display: none;
    }
  
    .formContainer {
      flex: 1;
    }
  }